# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules/
scraper/node_modules/

# Dependencies
package-lock.json

# If you use environment variables in the future
.env

# MacOS/Windows OS files
.DS_Store
Thumbs.db
